pyrogram==2.0.106
tgcrypto==1.2.5
pytgcalls==2.1.0
aiohttp==3.9.3
requests
yt-dlp
youtube-search-python
motor
dnspython
heroku3
python-dotenv
psutil
ffmpeg-python
spotipy
lyricsgenius
gtts
search-engine-parser
